<header>
    <nav class="header-nav">
        <a class="header-title" href="/" data-link>Lybs</a>
        <ul>
            <li><a href="/authors" data-link>Authors</a></li>
            <li><a href="/authors/new" data-link>Add Author</a></li>
            <li><a href="/books" data-link>Books</a></li>
            <li><a href="/books/new" data-link>Add Book</a></li>
        </ul>
    </nav>
</header>